@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #a6b0dd;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

header {
    padding: 1.5rem;
    height: 100px;
    width: auto;
    display: float;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

header h1 {
    font-size: 35px;
    text-align: center;
}

#profileImg {
    float: right;
    margin: 0px;
    right: 20px;
    width: 150px;
    border-radius: 10px;
}

#headshot {
    border-radius: 10px;
    box-shadow: 8px 8px 14px 8px #777777;
}

span {
    font-weight: 700;
}

currentdate {
    color: yellowgreen;
}