@media screen only and (min-width: 32.5em) {


    h1 {
        font-size: 50px;
    }

    #headshot {
        border-radius: 10px;
        box-shadow: 8px 8px 14px 8px #777777;
        float: right;

    }

}