body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
    color: powderblue;
    padding: 10px;
    
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: powderblue;
    color: darkslategray;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

header {
    padding: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 1.5rem;
    padding: 0 10px;
}

a:link {
    color: yellow;
}

a:visited {
    color: greenyellow;
}

a:hover {
    color: magenta;
}

a:active {
    color: limegreen;
}

#profileImg {
    
    width: 150px;
    
}

footer a:link {
    color: blue;
}

footer a:visited {
    color: orangered;
}

span {
    font-weight: 700;
}

#lastmodified {
    color: darkorchid;
}