@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
    color: powderblue;

}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: powderblue;
    color: darkslategray;
    padding: 10px;
    text-align: center;
}

header {
    padding: 1.5rem;
    height: 100px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

#profileImg {
    
    width: 150px;
    
}

span {
    font-weight: 700;
}

#lastmodified {
    color: darkorchid;
}