body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    background-color: darkslategray;
    color: powderblue;
    padding: 10px;
    text-align: center;
    
}

header,
main,
footer {
    margin: 1.25em auto;
    max-width: 760px;
}

header,
footer {
    background-color: powderblue;
    color: darkslategray;
    padding: 10px;
    text-align: center;
}

header {
    padding: 1.5rem;
}

#headshot {
    width:140px;
    height:auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    margin: 0 10px;
}

a:link {
    color: yellow;
}

a:visited {
    color: greenyellow;
}

a:hover {
    color: magenta;
}

a:active {
    color: limegreen;
}

footer a:link {
    color: blue;
}

footer a:visited {
    color: orangered;
}

span {
    font-weight: 700;
}

#lastmodified {
    color: darkorchid;
}