
body, html, header {
    height: 100%;
}

* {
    box-sizing: border-box;
  }

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hero-rafting-home-1280w-compressor.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Merriweather, Times, serif;
    font-size: 30px;
}

.header-logo {
    margin: 0rem;
    padding: 2rem;
}

button.hero-text {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ebab35;
    text-align: center;
    cursor: pointer;
  }
  
button.hero-button {
    background-color: #ebab35;
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 6px 6px 4px 1px #9ea0a3;

}

button.hero-button:hover {
    background-color: #555;
    color: white;
  }

div.emailSignUp h3{
    margin: 14px;
}

div.emailSignUp {
    font-family: Merriweather Sans;
    font-size: 18px;
    color: white;
    text-align: center;
    position: absolute;
    top: 75%;
    right: 5%;
    display: inline-block;
    background-color: #c7d8f2;
    color: black;
    padding: 10px 20px;
    border-radius: 30px 30px 30px 30px;
    margin: 12px;
    box-shadow: 8px 8px 13px 2px #131416;

}

div.emailSignUp input {
    padding: 6px;
    border-radius: 5px;
}

form label {
    font-size: 12px;
    display: block;
    padding: 4px;
    text-align: left;
}


/* MENU */

.primaryNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Merriweather Sans, Arial, sans-serif;
  }
  
  .primaryNav li:first-child {
    display: block;
  }
  
  .primaryNav li {
    display: none;
  }
  
  .primaryNav a {
    display: block;
    text-decoration: none;
    background-color: #ebab35;
    color: #0f2e47;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .primaryNav a:hover {
    background-color: #415837;
    color: white;
  }
  
  .primaryNav a.active:hover {
    background-color: #76905c;
    color: white;
  }
  
  .primaryNav a.active {
    background-color: white;
    color: #415837;
  }
  
  .respond li {
    display: block;
  }

/*homeArticle*/

div.homeArticle {
    margin: 2rem auto;
    width: 60%;
    }

.homeArticleH3{
    font-family: Merriweather;
    color: #76905c;
    font-weight: 700;
}

.homeArticle {
    font-family: Merriweather Sans;
    line-height: 2.0;
}

/*slider*/


.sliderContainer {
	width: 600px;
	height: 400px;
	/*    position: relative;*/
    margin: 0 auto;
}

.sliderAdventures {
    font-family: Merriweather;
    font-weight: 700; 
    color: #415837;
    margin-left: 20%;
}

div.mainSliderContainer {
    background-color: #c7d8f2;
    height: 800px;
    padding: 3rem 0;
}

img {
	max-width: 100%;
    height: auto;

}

.slider {
	width: 100%;
	height: 100%;
	border: 8px solid #fff;
	border-radius: 8px;
	overflow: hidden;
    position: relative;
    box-shadow: 8px 8px 13px 2px #6a6d74;

}

.switch {
	display: none;
}

.label {
	background: #76905C;
	height: 15px;
	width: 15px;
	border-radius: 4px;
	text-indent: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	z-index: 99;
	transition: all 0.25s;
}

.label:nth-of-type(1) {
	left: 0px;
}

.label:nth-of-type(2) {
	left: 30px;
}

.label:nth-of-type(3) {
	left: 60px;
}

.bottom {
	background: #fff;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
}

.content {
	width: 100%;
	float: left;
	margin-right: -100%;
}

.switch:not(:checked) + .label + .content {
	opacity: 0;
	transition: opacity 2s;
}

.switch:checked + .label {
	background: #415837;
}

img.source {
	position: fixed;
	bottom: 0;
	right: 0;
}


ul.adventureTypes{
    list-style-type: square;
    color: #76905C;
    list-style-position: inside;
    margin: 24px auto 16px;
    width: 600px;
    background-color: white;
    padding: 16px 32px;
    border-radius: 5px;
    box-shadow: 8px 8px 13px 2px #6a6d74;
}

li.adventureTypes {
    font-family: Merriweather Sans;
    font-size: 22px;  
    margin: 0;
}

/*contact*/

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 1rem;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #415837;
  }

  .fa-twitter {
    background: white;
    color: #415837;
  }

  .fa-youtube {
    background: white;
    color: #415837;
  }

  .fa-instagram {
    background: white;
    color: #415837;
  }
  
.contact {
    background-color: #415837;
    position: relative;
    z-index: -555;
}

  .contactInfo {
      float: right;
      text-align: center;
      align-content: center;
      width: 500px;
      height: 333px;
      margin: 0 auto;
      padding: 3rem;
      font-family: Merriweather Sans, sans-serif;
      line-height: 1.4;
      color: white;
      z-index: 0;
  }

.contactImg {
    position: relative;
    z-index: -3;
}


.temp {
    font-family: Merriweather Sans, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px;
    left: 8px;
    position: relative;
    z-index: 999;
    
 
}


/*links*/
.email a:visited {
      color: turquoise;
  }

footer {
  color: white;
  background-color: #415837;
  padding: 1rem;
  text-align: center;
  font-family: Merriweather Sans, sans-serif;
  font-size: 12px;
}


/*---------riverGuide page------------*/

.hero-image-guide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/hero-rafting-guide-1024px.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text-guide {
    text-align: center;
    position: absolute;
    top: 6%;
    left: 15%;
    color: white;
    font-family: Merriweather, Times, serif;
    font-size: 30px;
}

.hero-text-guide span {
    display: none;
}

h2.hero-text-guide {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Merriweather, Times, serif;
    font-size: 30px;
}


button.hero-text-guide {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ebab35;
    text-align: center;
    cursor: pointer;
  }
  
/*guideCard*/

.guideCard {
    display: flex;
    width: 90%;
    margin: 2rem auto;
}

.cards section {
    max-width: 400px;
    height: auto;
    font-family: Merriweather Sans, Sans-serif;
    border: 2px solid lightgrey;
    display: grid;
    grid-template-columns: 1fr;
    background: #5c7182;
    padding: 5px;
}



.cards section h2, .cards section h3{
    text-align: center;
    color: white;
}

.cards section p {
    font-size: 14px;
}

div.cards {
    display: flex;
  }

/*thanks*/

.hero-image-thanks {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-rafting-thanks-1024.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-thanks {
  text-align: center;
  position: absolute;
  top: 6%;
  left: 15%;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}

.hero-text-thanks span {
  display: none;
}


.header-text-thanks h2{
  position: relative;
  text-align: center;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}

.header-text-thanks h3 {
  text-align: center;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 22px;
}



.smIcons {
  text-align: center;
  
}

.thanks-sm p{
  text-align: center;
  font-family: Merriweather Sans, sans-serif;
  font-size: 16px;
  color: white; 
}

/*contact*/

header.contact {
  height: 80%;
}

.hero-image-contact {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url('../images/hero-rafting-contact-1024px.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-contact {
  position: absolute;
  top: 6%;
  right: 20%;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}

.hero-text-contact span{
  display: none;
}

h2.header-text-contact {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}


.header-text-contact p{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 22px;
}

/*contactinfoform*/

.contactForm h3{
  font-family: Merriweather Sans, sans-serif;
  color:#415837;

}

div.contactForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  margin: 2rem 10%;
  grid-gap: 2rem;
  font-family: Merrisweather Sans, sans-serif;
  color: slategrey;
  background-color: white;
}

div.contactForm input:required, textarea:required {
  border-left: red solid 3px;
}

div.contactForm input:required:valid, textarea:required:valid {
  border-left: green solid 3px;
}

div.contactForm input, textarea{
  border: none;
  background-color: #c7d8f2;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  font-family: Merriweather Sans, sans-serif;
}

div.contactForm input.submitBtn {
  width: 200px;
  color: #ebab35;
  font-family: Merriweather Sans, sans serif;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ebab35;
  background: none;
  margin: 16px 0;
}

div.contactForm label {
  font-family: Merriweather Sans, sans-serif;
  color: darkslategray;
  font-size: 14px;
  padding-top: 16px;
}


/*reservations*/

header.book {
  height: 80%;
}

.hero-image-book {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3)), url('../images/hero-rafting-reservations-1024px.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-book {
  text-align: center;
  position: absolute;
  top: 6%;
  left: 15%;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}

.hero-text-book span{
  display: none;
}

h2.header-text-book {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}


.header-text-book p{
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 22px;
}


.footer-book p{
  display: block;
  color: white;
  background-color: #415837;
  padding: 1rem;
  margin: 0 auto;
  font-family: Merriweather Sans, sans-serif;
  font-size: 12px;
  align-items: center;
}

/*reservations adventure table*/

table.adv-table {
  font-family: Merriweather,  serif;
  border: 2px solid #415837;
  background-color: #EEEEEE;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin: 2rem auto;
}
table.adv-table td, table.adv-table th {
  border: 2px solid #AAAAAA;
  padding: 16px 16px;
}
table.adv-table tbody td {
  font-size: 16px;
  font-family: Merriweather sans, sans-serif;
}
table.adv-table tr:nth-child(even) {
  background: #C6D5B2;
}
table.adv-table thead {
  background: #415837;
  background: -moz-linear-gradient(top, #708269 0%, #54684b 66%, #415837 100%);
  background: -webkit-linear-gradient(top, #708269 0%, #54684b 66%, #415837 100%);
  background: linear-gradient(to bottom, #708269 0%, #54684b 66%, #415837 100%);
  border-bottom: 2px solid #333333;
}
table.adv-table thead th {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #333333;
}
table.adv-table thead th:first-child {
  border-left: none;
}

table.adv-table tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background: #415837;
  background: -moz-linear-gradient(top, #708269 0%, #54684b 66%, #415837 100%);
  background: -webkit-linear-gradient(top, #708269 0%, #54684b 66%, #415837 100%);
  background: linear-gradient(to bottom, #708269 0%, #54684b 66%, #415837 100%);
  border-top: 2px solid #333333;
}
table.adv-table tfoot td {
  font-size: 16px;
  text-align: center;
}


.register-form input, select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 0 auto;
}


.register-form label {
  padding: 12px 12px 2px 0;
  display: inline-block;
  font-size: 16px;
  font-family: merriweather sans, sans-serif;
}

input[type=submit].regSubmit{
  background-color: #ebab35;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover.regSubmit{
  background-color: #ebab35;
}

.register-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 800px;
  margin: 1.5rem auto;
  font-family: merriweather sans, sans-serif;
  font-size: 16px;
}

.reg-label {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.reg-input {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.register-form input:required {
  border-left: 2px solid red;
}

/*adventures*/
header.book {
  height: 80%;
}

.hero-image-adv {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url('../images/hero-rafting-adventure-1024px.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-adv {
  text-align: center;
  position: absolute;
  top: 6%;
  left: 15%;
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}




.hero-text-adv span{
  display: none;
}

.header-text-adv h2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 30px;
}


.header-text-adv p {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Merriweather, Times, serif;
  font-size: 22px;
}

/*overlay trip*/

h2.adv-info, p.adv-info {
  font-family: Merriweather, serif;
  color: #415837;
  margin: 1rem;;
}

div.trip-advs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  margin: 0 10%;
}

.trip-adv {
  position: relative;
  width: 400px;
}

.trip-image {
  display: block;
  width: 100%;
  height: auto;
}

.trip-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #76905C;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.trip-adv:hover .trip-overlay {
  width: 100%;
}

.trip-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: Merriweather, serif;
  font-size: 12px;
  width: 400px;
}
.trip-text h3{
  font-family: Merriweather, serif;
  color: orange;
  padding: 1rem 2rem 0;
  text-align: center;
  font-size: 18px;
}

.trip-text h4 {
  text-align: center;
  margin: 4px auto;
}

.trip-text ul li{
  color: white;
  width: 80%;
  padding: 0 2rem 3px;
  list-style-position: inside;
}


