@media only screen and (min-width: 32em) {

    /*-- HEADER --*/
    .header-logo img {
        width: 150px;
        margin-right: 9px;
    }
    
    h1, h2 {
        font-family: "Rammetto One", cursive;
    }    

    h1 {
        font-size: 31px;
    }

    .motto {
        font-size: 13px;
        white-space: nowrap;
        font-family: "Open Sans", sans-serif;
    }
/*-- MENU --*/

  
    .primaryNav a {
        font-size: 13px;
        white-space: nowrap;
        text-align: center;
    }

    .primaryNav .respond {
        display: flex;
    }

    .primaryNav li{
        flex: 1 1 100%;
        display: block;
    }

    .primaryNav li:first-of-type {
        display:none;
    }




/*-- FOOTER --*/
    footer {
        font-size: 16px;
    }


}