* {
  box-sizing: border-box;
}


/*-- BODY --*/
body {
  background-color: #6aace1;
  font-family: "Open Sans", sans-serif;
  margin: 0 0;
  width: 100%;
}

header,
nav,
footer{
  max-width: 100%;
  margin: 0 auto;
}



/*-- HEADER --*/
header {
  background-color: #1f5f94;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-logo img {
  margin-right: 6px;
  width: 70px;
  height: auto;
}

h1,
h2 {
  font-family: "Rammetto One", cursive;
}

h1 {
  color: #f5d642;
  margin-bottom: 4px;
  font-size: 20px;
}

.motto {
  color: white;
  font-size: 10.5px;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: left;
  margin: 1em;
}

/* MENU */
.primaryNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primaryNav li:first-child {
  display: block;
  border-top: 2px solid rgba(247, 247, 248, 0.2);
  border-bottom: 2px solid rgba(247, 247, 248, 0.2);
}

.primaryNav li {
  display: none;
}

.primaryNav a {
  display: block;
  text-decoration: none;
  background-color: #f5d642;
  color: #0f2e47;
  padding: 15px;  
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.primaryNav a:hover {
  background-color: #1f5f94;
  color: white;
}

.primaryNav a.active:hover {
  background-color: #548ebd;
  color: white;
}


.primaryNav a.active {
  background-color: white;
  color: blue;
}


.respond li {
  display: block;
}

/* GALLERY GRID */



/* FOOTER */
footer {
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  font-size: 9px;
  white-space: normal;
}

.contactBox1 a {
  color: purple;
}

#todayDate {
  margin: 0;
  color: blue;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
