@media only screen and (min-width:60rem) {



header a img.header-logo {
        width: 80%;
        margin: 0 auto;
}

h1 {
	font-size: 32px;
}

.motto{
    font-size: 15px;
    white-space: nowrap;
}


h2 {
    font-size: 28px;
}

.heroDiv {
    margin: 8px auto 20px;
}

/* menu */
.primaryNav {
    display: flex;
    overflow:auto;
}


nav a{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}

nav li{
    display: block;
    flex: 1 1 100%;
}

a.menuButton{
    display: none;
}

/* article - increase font*/
div.article {
    font-size: 16px;
    line-height: 1.5;
}
}
