@media only screen and (min-width: 32rem) {
    .header-logo img{
        width: 175px;
    }

    h1 {
        font-size: 30px;
    }
    
    #motto{
        font-size: 16px;
    }

    .infoBox {
        font-size: 16px;
        background-color: #f8f3da;
        text-align: center;
    }
    
    footer {
        font-size: 16px;
    }


}