@media only screen and (min-width: 32em) {
    .header-logo img {
        width: 150px;
    }
    
    h1, h2, #motto {
        font-family: "Rammetto One", cursive;
    }    

    h1 {
        font-size: 30px;
    }

    #motto {
        font-size: 14px;
    }

    .infoBox {
        font-size: 16px;
        background-color: #f8f3da;
        text-align: center;
    }

    footer {
        font-size: 16px;
    }

    .primaryNav {
        display: none;
    }

    .primaryNav li:first-child {
        display: none;
    }

    .primaryNav {
        display: flex;
    }

    nav a {
        font-size: 13px;
        white-space: nowrap;
        text-align: center;
    }

    nav li {
        flex: 1 1 100%;
    }

    nav .respond {
        display: flex;
    }

}