@media only screen and (min-width: 32.5rem) {
* {
	box-sizing: border-box;
}

body {
	background-color: #6AACE1;
		font-family: "Open Sans", sans-serif;
		margin: 0 0;
}
header, nav, main, footer{
	max-width: 960px;
	margin: 0 auto;
}

header {
	background-color: #1F5F94;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 10px;
	width: auto;
	
}

header a img.header-logo {
	margin-right: 10px;
	width: 50%;
	float: right;
}

header.header-text {
	text-align: left;	
}

h1 {
	color: #F5D642;
	margin-bottom: 4px;
	font-size: 24px;
}

#motto{
	color: white;
	font-size: 12px;
	margin: 0;
}

h1, h2, #motto {
	font-family: "Rammetto One", cursive;
}

h2 {
	color:#0F2E47;
	text-align: center;
}

.primaryNav {
	list-style-type: none;
	padding: 0;
	margin:0;
}

.primaryNav li:first-child{
	display: block;
	border-top: 2px solid rgba(247, 247, 248, 0.2);
	border-bottom: 2px solid rgba(247, 247, 248, 0.2);
}

.primaryNav li{
	display: none;
}

nav a {
	display: block;
	text-decoration: none;
	background-color: #F5D642;
	color: #0F2E47;
	padding: 15px;
	border-top: 1px solid rgba(0,0,0,0.15);

}

nav a:hover {
	background-color: #1F5F94;
	color: white;
}

nav a.active {
	background-color: white;
}

.respond li {
	display:block;
}

.infoBox {
	display: block;
	background-color: white;
	padding: 10px;
	border-radius: 9px;
	margin: 8px 0;	
}

footer {
	background-color: white;
	text-align: center;
	padding: 8px 0px;
	border-radius: 10px;
	font-size: 12px;
}

}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
