
* {
	box-sizing: border-box;
}

body {
	background-color: #6AACE1;
		font-family: "Open Sans", sans-serif;
		margin: 0 0;
		width: 100%;
}
header, nav{
	max-width: 100%;
	margin: 0 auto;
}

header {
	background-color: #1F5F94;
	display: flex;
	justify-content:center;
	align-items: center;
	padding: 10px;	
}

.header-logo img{
	margin-right: 6px;
	width: 70px;
	height: auto;
}

h1, h2 {
	font-family: "Rammetto One", cursive;
}

h1 {
	color: #F5D642;
	margin-bottom: 4px;
	font-size: 20px;
}

.motto{
	color: white;
	font-size: 10.5px;
	margin: 0;
	text-align: center;
}


h2 {
	text-align: center;
}

.primaryNav {
	list-style-type: none;
	padding: 0;
	margin:0;
}

.primaryNav li:first-child{
	display: block;
	border-top: 2px solid rgba(247, 247, 248, 0.2);
	border-bottom: 2px solid rgba(247, 247, 248, 0.2);
}

.primaryNav li{
	display: none;
}

nav a {
	display: block;
	text-decoration: none;
	background-color: #F5D642;
	color: #0F2E47;
	padding: 15px;
	border-top: 1px solid rgba(0,0,0,0.15);

}

nav a:hover {
	background-color: #1F5F94;
	color: white;
}

nav a.active {
	background-color: white;
	color: blue;
}

.respond li {
	display:block;
}

.infoBox {
	display: block;
	background-color: white;
	padding: 10px;
	border-radius: 9px;
	margin: 8px 10%;	
	font-size: 15px;
	text-align: center;
}

footer {
	background-color: white;
	text-align: center;
	padding: 10px 0px;
	border-radius: 10px;
	font-size: 9px;
	white-space: normal;
	margin: 20px 10% 0;
}

span #todayDate {
	margin-top:0;
	margin-botton:0;
	color:red;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}