@media only screen and (min-width:60rem) {


/*-- HEADER --*/

h1 {
	font-size: 32px;
}

.motto{
    font-size: 15px;
    white-space: nowrap;
}

/*-- MENU --*/
.primaryNav {
    display: flex;
    overflow:auto;
}

.primaryNav li:first-child {
    display:none;
}

nav a{
    border: none;
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}

nav li{
    display: block;
    flex: 1 1 100%;
}

/*-- HERO and WEATHER SUMMARY - increase size --*/

.heroDiv {
    width: 70%;
}

.weatherSummary {
    line-height: 1.5;
    padding: 1rem;
}

.summaryGrid {
    font-size: 15px;
}

/*-- 5 day FORECAST - increase lower margin --*/
.forecast {
    margin-bottom: 30px;
}

/*--ARTICLE - reduce article width size--*/
div.newsArticle {
    width: 70%;
    margin: 0 auto;
}

}
