* {
  box-sizing: border-box;
}


/*-- BODY --*/
body {
  background-color: #6aace1;
  font-family: "Open Sans", sans-serif;
  margin: 0 0;
  width: 100%;
}

header,
nav,
footer{
  max-width: 100%;
  margin: 0 auto;
}

/*-- BANNER --*/

div #pancakes {
  display: none;
}

#pancakes {
  background-color: palegoldenrod;
  text-align: center;
  font-size: 15px;
  padding: 18px;
  font-weight: 700;
}


/*-- HEADER --*/
header {
  background-color: #1f5f94;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-logo img {
  margin-right: 6px;
  width: 70px;
  height: auto;
}

h1,
h2 {
  font-family: "Rammetto One", cursive;
}

h1 {
  color: #f5d642;
  margin-bottom: 4px;
  font-size: 20px;
}

.motto {
  color: white;
  font-size: 10.5px;
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

/* MENU */
.primaryNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.primaryNav li:first-child {
  display: block;
  border-top: 2px solid rgba(247, 247, 248, 0.2);
  border-bottom: 2px solid rgba(247, 247, 248, 0.2);
}

.primaryNav li {
  display: none;
}

.primaryNav a {
  display: block;
  text-decoration: none;
  background-color: #f5d642;
  color: #0f2e47;
  padding: 15px;  
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.primaryNav a:hover {
  background-color: #1f5f94;
  color: white;
}

.primaryNav a.active:hover {
  background-color: #548ebd;
  color: white;
}


.primaryNav a.active {
  background-color: white;
  color: blue;
}


.respond li {
  display: block;
}

/* HERO and WEATHER SUMMARY */
.heroDiv {
  border-radius: 5px;
  text-align: center;
  margin: 8px auto;
  width: 90%;
  position: relative;
}

.heroDiv img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.weatherSummary {
  position: absolute;
  top: 25px;
  left: 40px;
  background: radial-gradient(#eee, #2a80c7);
  border: 1px solid #000;
  padding: 0.6rem;
  box-shadow: 0 0 30px #111;
  opacity: 0.8;
  line-height: 1.3;
}

.summaryGrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	font-size: 12px;
}

.label{
	text-align: right;
}      

.weathSumm{
	text-align: left;
}

/*--hide 5 Day FORECAST in small.css--*/
.forecast {
  display: none;
}

/*-- ARTICLE - text below image--*/
div.newsArticle {
  background-color: white;
  margin: 8px 5% 20px;
  padding: 15px;
  display: block;
  font-size: 12px;
  line-height: 1.5;
}

.newsArticleImg {
  width: 100%;
  height: auto;
  box-shadow: 0 0 28px #0f2e47;
}

.newsArticleH3 {
	color: blue;
	font-size: 16px;
}

h5 {
	color: darkblue;
}

/*hide contact map in small.css*/
.contactMap {
  display: none;
}

.contactBox1 {
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 10px;
  background-color: rgba(244, 246, 248, 0.4);
  padding: 20px;
  font-size: 12px;
  justify-content: center;
}

.coName {
  grid-column: 1 / span 2;
  color: Black;
  font-size: 14px;
}

.far.fa-address-book {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: blue;
}

div.adds {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.fas.fa-mobile-alt {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: white;
}

div.tel {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.far.fa-envelope {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  color: purple;
}

.email {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.smIcons {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
}

div.smIcons img {
  width: 16px;
}


footer {
  background-color: white;
  text-align: center;
  padding: 10px 0px;
  font-size: 9px;
  white-space: normal;
}

.contactBox1 a {
  color: purple;
}

#todayDate {
  margin: 0;
  color: blue;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
