
h1 {
    text-align: center;
}

picture {
    display: block;
    text-align: center;
    padding: 25px;
}

picture img[data-src] {
    filter: blur(0.2em);
    border: 1px solid black;
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}