@media only screen and (min-width: 32em) {

    /*-- HEADER --*/
    .header-logo img {
        width: 150px;
        margin-right: 9px;
    }
    
    h1, h2 {
        font-family: "Rammetto One", cursive;
    }    

    h1 {
        font-size: 31px;
    }

    .motto {
        font-size: 13px;
        white-space: nowrap;
        font-family: "Open Sans", sans-serif;
    }
/*-- MENU --*/

    .primaryNav {
        display: flex;
        overflow: auto;
    }
  
    .primaryNav a {
        font-size: 15px;
        white-space: nowrap;
        text-align: center;
    }

    .primaryNav .respond {
        display: flex;
    }

    .primaryNav li{
        flex: 1 1 100%;
        display: block;
    }

    .primaryNav li:first-child {
        display:none;
    }
    

/*-- 5 day FORECAST summary - flex --*/
.forecast {
    display: block;
    width: 40em;
    margin: 0 auto 20px;
    padding: 5px;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1 1 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(13, 136, 236);
    font-size: 13px;
    text-align: center;
}

.flex div:last-child {
    border-right: 1px solid black;
}

.fivelabel {
    display: block;
    padding: 5px;
    font-weight: 900;
    font-size: 15px;
    border-bottom: 1px solid black;
    background-color: #eee;
}

.flex div img, table img {
    border-radius: 100px;
    padding: 5px;
}

.data {
    display: block;
    padding: 0 5px 10px;
    color:black;
    font-weight: 900;
    font-size: 17px;
}

/*-- ARTICLE - switch to wrap image --*/
div.newsArticle {
    font-size: 14px;
}

.newsArticleImg {
    width: 280px;
    float: right;
    margin: 30px 10px 10px;
}

.newsArticleH3 {
    font-size: 18px;
}

/*-- CONTACT map - show contact map with contact info--*/



.contactBox1 {
    grid-template-columns: auto 20px auto;
}

.coName {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.address {
    grid-column: 2 / 3;
}

div.adds {
    grid-column: 3 / 4;
}

.mobile {
    grid-column: 2 / 3;
}

div.tel {
    grid-column: 3 / 4;
}

.envelope {
    grid-column: 2 / 3;
}

.email {
    grid-column: 3 / 4;
}


div.smIcons img {
    width: 20px;
}

.smIcons {
    grid-column: 2 / span 2;
}


.contactMap {
    width: 100%;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / span 5;
    display: block;
}


/*-- FOOTER --*/
    footer {
        font-size: 16px;
    }



/* ----------------------GALLERY PAGE------------------------------------------------ */

.galleryContain {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);  
  }

  figcaption {
    padding: 0px 10px 10px;
    font-size: 14px;
  }

/* ----------------------STORM PAGE------------------------------------------------ */

h3.stormFormName {
    margin: 0 3rem -.5rem;
    }

form fieldset {
    margin: 2rem;
    padding: .5rem 2% 1.25rem;
    }

form legend {
    margin: 0 2rem;
    }

form input.submitBtn {
    margin: 0 0 2rem 2rem;

}

/*-----------------------THANKS PAGE--------------------------------------------*/

main.thanks {
    max-width: 100%;
    margin: 0 0;
  }
  

/*--------------CARDS---------------------*/

div.cards {
    margin: 16px auto;
}

.cards section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    grid-gap: .5rem;
}

.cards section h2, .cards section h3, .cards section p {
    margin: 3px auto;
}

section {
    padding: 16px;
    margin: 2px auto 0px;
    width: 400px;
    border: 4px solid slategray;
}

.cards:nth-child(2) :nth-child(6) {
    grid-column: 2/3;
}

section img {
    grid-row: 1/6;
    float: right;
    max-width: 190px;
    height: auto;
}





}