@media only screen and (min-width: 37.5em) {

    .name {
        font-size: 30px;
        
    }
    
    .motto {
        font-size: 20px;
    }
    
    .section-img {
        width: 50%;        
    }

    ul {
        display: flex;
    }

    li {
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}

